<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <style>
body {
background-color: #4EFEC8
}
</style>
</head>
<body style="font-size:20px; padding:50px;">

  <%- include("./partials/_header.ejs") %>
  <a href= "/urls/new">shorten new URL</a>
    <!-- Add EJS code here -->
    <!--   display a list or table (loop through) -->

<%  for(let elem in urls) { %>





  <form method='post' action='/urls/<%= elem %>/delete'/>
    <li>
      short URL: <a href="<%=urls[elem].longURL%>"><%=elem%></a> -----> long URL:
      <a href="<%=urls[elem].longURL%>"><%= urls[elem].longURL %></a>
    </li>
    <input type="submit" value='Delete'>
     <a href= "/urls/<%= elem%>">Edit</a>

  </form>




    <% }; %>
       <!--  <p> <%= urls %> -->

<a href= "/">Go Home</a>
   <!-- a link for shortening url (is dead) -->
</body>
</html>